<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>

</style>

</head>
<body>

    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start" method="post">
          <button class="btn btn-sm btn-outline-secondary" type="button">Disponibilidade</button>
          <button class="btn btn-sm btn-outline-secondary" type="button">Cadastro de Usuarios</button>
        </form>
      </nav>



    <h1>Configuraçao de Disponibilidade</h1>

    <div class="form-floating" style=" padding: 2px;">
        <select class="form-select small" style="width: 200px;">
          <option selected>..</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Marco</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
        <label for="floatingSelect">Escolha o mes</label>
      </div>


    <!--
        class="table table-bordered table-sm align-middle"
    -->
    <div class="container_table">
            <table class="table">
        <thead>
            <tr>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sab</th>
                <th>Dom</th>
            </tr>
        </thead>
        <tbody>
            {% for week in data_calendar %}
                <tr>

                    {% for day in week %}
                        <div class="day">
                            
                            <td class="td_disp">{{ day }}
                                <div class="div_inputs">
                                    <form action="">
                                        <label for="{{'dbc' + day}}">DBC</label>
                                        <input type="number" name="{{'dbc' + day}}" id="dbc_day" class="disp_n">
    
                                        <label for="{{'twc' + day}}">TWC</label>
                                        <input type="number" name="" id="" class="disp_n">
                                        
                                        <label for="dsc_day">DSC</label>
                                        <input type="number" name="" id="" class="disp_n">
                                    </form>
                                </div>
                            </td>

                        </div>
                    {% endfor %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</body>
</html>
